*{
    padding: 0;
    margin: 0;
    background-color: black;
    height: fit-content;
    background-image: url("govback.png");
}
#G1{
    text-align: center;
    background-color: rgba(42, 42, 130);
    color: antiquewhite;
    margin-top: 18px;
    h1{
        background-color: rgba(42, 42, 130);
    }
}
.C2{
    display: flex;
    flex-direction: row;
    color:antiquewhite;
    justify-content: center;
    justify-items: center;
    padding: 16px;
    #age{
        background-color: black;
        color:antiquewhite;
        border: black;
    }
    #gender{
        background-color: black;
        color:antiquewhite;
        border: black;
    }
    #income{
        background-color: black;
        color:antiquewhite;
        border: black;
    }
}
.B2{
    background-color: black;
    padding: 5px;
    text-align: center;
    margin: 40px;
    font-size: larger;
}
.C1{  
    display: flex;
    margin: 30px;
    flex-direction: row;
}

.I1{
    img{
    height: 150px;
    width: 300px;
    }
    
}
.Scheme1{
    height: 150px;
    width: 300px;
    color: antiquewhite;
    background-color: black;
    display: flex;
    flex-direction:column;
    align-items:center;
    align-content:center;
    h2{
        background-color:black;
    }
    a{
        background-color:black;
    }
}
.C3{
    display: inline-block;
    margin: 30px;
    margin-top: -15px;
}