
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 *{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    background-image: url('1000024719.png');
    background-size: cover;
    min-height: 100vh;
    


    
}
header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 30px 50px;
    
    display: flex;
    height: 15vh;
    justify-content:space-between;
    
    background-color: rgb(255, 255, 255);
    
    
    
    align-items: center;
    z-index: 99;
   
}
.logo{
    font-size: 2em;
    color: white;
    user-select: none;
    
}
.navigation a{
    display: inline-block;
    position:relative;
    font-size: 1.1em;
    color: rgb(0, 0, 0);
    z-index: 101;
    text-decoration: none;
    font-weight:500;
    margin-left: 40px;
    padding: 10px 10px;
    

}
.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-left: 4px;
    z-index: 101;
    transition: 0.5;
    

}
.navigation .btnLogin-popup:hover{
    background: rgb(0, 0, 0);
    color: #fdfdfd;
    
}
.navigation a::after{
    content: '';
    position:absolute;
    left: 0;
    bottom: -6px;

    width: 100%;
    height: 3px;
    z-index: 101;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}
.navigation a:hover::after
{
   
    transform: scaleX(1);
    transform-origin: left;
    z-index: 101;
   
}
.big-box{
    
    height: 450px;
    width: 1300px;
    display: flex;
    /* align-items:end; */
    /* background-color: #000000; */
    padding-top: 50px;
    padding-left: 100px;
    z-index: 101;
    /* margin-top: 50px; */
    /* margin-right: 200px; */
    /* background-color: #000000;  */
    margin-right: 100px;
    
    
}
.small{
    width: 300px;
    
    
    bottom: 100%;
    height:     230px;
    background-color: rgb(0, 0, 0);   
    color:rgb(0, 0, 0);
   
    
    padding-left: 10px;
    padding-top: 10px;
    font-size: 10px;
    z-index: 101;
    box-shadow: 5px 5px 15px #888888;
    font-family: 'Poppins', Helvetica, sans-serif;
    h{
        font: size 23px; 
    }
}
.learn{
    width: 100px;
    height: 35px;
    background: transparent;
    border: 2px solid rgb(20, 5, 5);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-top: 10px;
    z-index: 101;
    margin-left: 0px;
    transition: 0.5;
}
 
div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    z-index: 101;
    opacity: 0.8;       
    box-shadow: 5px,5px,15px,#000000;                                 
  }
  
  div.transbox p {
    
    font-weight: bold;
    color: #000000;
  }
  .learn .button:hover{
    background: rgb(0, 0, 0);
    color: #fdfdfd;
    box-shadow: 5px,5px,15px,#888888;
    z-index: 101;
    
} 
.container
{
    margin-top: auto;
    width: 900px;
    height: 100px;
   
     
     padding: 179px 50px;
     z-index: 101;
   
    /* background-color: #000000; */
}
.wrapper{
    position: absolute;
    
    
    z-index: 108;
}
.backgound{
    position: absolute;
    width: 400px;
    height: 440px;
    background-image: url('login.png') ;
    background-size: cover;
    background: transparent;
    filter: blur(5px);
    opacity: 0.9;
    
    
    z-index: 107;

}
.wrapper{
    width: 400px;
    height: 440px;
    border:  2px solid rgba(255,255,255,.5);
    position: absolute;
    
    border-radius: 20px;
    box-shadow: #888888;
    backdrop-filter: blur(25px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
     overflow: hidden;
    transform: scale(0); 
    transition:transform .5s ease , height .2s ease; 
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;

}


 .wrapper.active{
    height: 520px;




} 
 .wrapper.active-popup{

    transform: scale(1);
} 
.wrapper .loginbox{
     transition: transform .18s ease;
    transform: translateX(0); 
}
.wrapper .form-box.register{
    position: absolute;
    transform: translateX(400px);

}
 .wrapper.active .loginbox{
    transition: none;G
    transform: translateX(-400px);


} 







.wrapper .icon-close{
    position: fixed;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1001;
    border-top-right-radius: 20px;
}
.loginbox h2{
    font-size: 2em;
    color: #162938;
    text-align: center;


}
.inputbox{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin:30px 0;

}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
   
}
.inputbox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;



}
.inputbox .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;

}
.inputbox input:focus~label,
.inputbox input:valid~label{
    color: rgba(168, 84, 194, 0.5);
    top: -5px;
    font-size: 1.1em;
}
.remember{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember label input{
    accent-color: #162938;
    margin-right: 3px;


}
.remember a{
    color: #162938;
    text-decoration: none;
}
.remember a:hover{
    text-decoration: underline;
}
.sumbtn{
    width:100%;
    height: 45px;
    background: #162938;

    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}
.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin:25px 0 10px;
}
.login-register p a{
    color: #162938;
    text-decoration: none;
}
.login-register p a:hover{
    text-decoration: underline;
}



    
   


